#back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9999;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 30px;
  background: #D4CCA7;
  color: #444;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  opacity: 0;
}

#back-to-top:hover {
  background: #e9ebec;
}

#back-to-top.show {
  opacity: 1;
}

a.image {
  border: none!important;
}

.container {
  /*max-width: 540px!important;*/
}

.strongtitle {
  color: black!important;
}

h6 {
  font-family: sans-serif;
  line-height: 18px;
}

@media (max-width: 880px) {
  .media-object-pog {
    display: none;
  }
}

@media (max-width: 940px) {
  #back-to-top {
    display: none!important;
    opacity: 0!important;
  }
}

.media-object-pog {
  position: absolute;
  margin-left: 570px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-color: #FFAA66;
  border-width: 2px;
  background-color: #363F48;
  padding: 1px;
  border-radius: 4px;
}

.media-object-pog:hover {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
}

table {
  font-size: 16px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

td,
th {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

th {
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: #997799;
  color: white;
}

@font-face {
  font-family: 'si';
  src: url('fonts/socicon.eot');
  src: url('fonts/socicond41d.eot?#iefix') format('embedded-opentype'), url('fonts/socicon.woff') format('woff'), url('fonts/socicon.ttf') format('truetype'), url('fonts/socicon.svg#icomoonregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: si;
    src: url(fonts/socicon.svg) format(svg);
  }
}

.soc {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
}

.soc li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.soc li a {
  font-family: si!important;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -o-transition: .1s;
  -ms-transition: .1s;
  -moz-transition: .1s;
  -webkit-transition: .1s;
  transition: .1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  display: block;
  position: relative;
  z-index: 1;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 22px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-right: 1px;
  color: #ffffff;
  background-color: none;
}

.soc a:hover {
  z-index: 2;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.soc-icon-last {
  margin: 0!important;
}

.soc-slack {
  background-color: #4da7de;
}

.soc-slack:before {}

.soc-twitter {
  background-color: #4da7de;
}

.soc-twitter:before {
  content: 'a';
}

.soc-facebook {
  background-color: #3e5b98;
}

.soc-facebook:before {
  content: 'b';
}

.soc-google {
  background-color: #d93e2d;
}

.soc-google:before {
  content: 'c';
}

.soc-rss {
  background-color: #f26109;
}

.soc-rss:before {
  content: ',';
}

.soc-dribbble {
  background-color: #e84d88;
}

.soc-dribbble:before {
  content: 'D';
}

.soc-email1 {
  background-color: #578AD6;
}

.soc-email1:before {
  content: '<';
}

@font-face {
  font-family: 'Pragati Narrow';
  src: url('fonts/PragatiNarrow-Regular.eot');
  src: local('☺'), url('fonts/PragatiNarrow-Regular.woff') format('woff'), url('fonts/PragatiNarrow-Regular.ttf') format('truetype'), url('fonts/PragatiNarrow-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Light';
  src: url('fonts/Roboto-Light.eot');
  src: local('☺'), url('fonts/Roboto-Light.woff') format('woff'), url('fonts/Roboto-Light.ttf') format('truetype'), url('fonts/Roboto-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tuffy';
  src: url('fonts/Tuffy.eot');
  src: local('☺'), url('fonts/Tuffy.woff') format('woff'), url('fonts/Tuffy.ttf') format('truetype'), url('fonts/Tuffy.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0 auto;
  font-family: Tuffy, Georgia, Palatino, serif!important;
  color: #444444;
  line-height: 1;
  max-width: 960px;
  padding: 30px;
  text-align: justify;
  text-justify: inter-word;
  background-color: rgb(251, 250, 245);
}

body {
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  border: 0;
  font-size: 1em;
  line-height: 1.7em;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
  max-width: 35em;
}

h1,
h2,
h3,
h4 {
  color: #111111;
  font-weight: 400;
}

@media only screen and (max-width: 380px) {
  h1 {
    font-size: 26px!important;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 36px!important;
  }
}

.textorange2::first-line {
  color: #E25B21;
}

.textgreen {
  color: #B3AB79!important;
}

h5 {
  color: #8c813f!important;
  font-family: Roboto Light, Segoe UI, Tuffy;
  font-weight: lighter;
  text-rendering: geometricPrecision;
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-bottom: 24px;
  padding: 0;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
  margin: 24px 0 6px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

a {
  color: #997799;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

a:hover {
  text-decoration: none;
  color: #997799;
}

a:visited {
  color: #997799;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

li {
  line-height: 24px;
}

li ul,
li ul {
  margin-left: 24px;
}

p,
ul,
ol {
  font-size: 16px;
  line-height: 24px;
  /*max-width: 540px;*/
}

pre {
  padding: 0px 24px;
  max-width: 800px;
  white-space: pre-wrap;
}

code {
  font-family: Consolas, Monaco, Andale Mono, monospace;
  line-height: 1.5;
  font-size: 13px;
}

aside {
  display: block;
  float: right;
  width: 390px;
}

blockquote {
  border-left: .5em solid rgb(245, 239, 222);
  padding: 0 0 0 2em;
  margin-left: 0;
  margin-right: 0;
}

blockquote cite {
  font-size: 14px;
  line-height: 20px;
  color: #bfbfbf;
}

blockquote cite:before {
  content: '\2014 \00A0';
}

blockquote p {
  color: #666;
}

hr {
  background: rgb(248, 230, 206) none repeat scroll 0% 0%;
  height: 1px;
  border: medium none;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
  *overflow: visible;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type=checkbox],
input[type=radio] {
  cursor: pointer;
}

input:not([type="image"]),
textarea {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

label,
input,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: normal;
  margin-bottom: 18px;
}

input[type=checkbox],
input[type=radio] {
  cursor: pointer;
  margin-bottom: 0;
}

input[type=text],
input[type=password],
textarea,
select {
  display: inline-block;
  width: 210px;
  padding: 4px;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  height: 18px;
  color: #808080;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

select,
input[type=file] {
  height: 27px;
  line-height: 27px;
}

textarea {
  height: auto;
}

:-moz-placeholder {
  color: #bfbfbf;
}

::-webkit-input-placeholder {
  color: #bfbfbf;
}

input[type=text],
input[type=password],
select,
textarea {
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
  outline: none;
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}

button {
  display: inline-block;
  padding: 4px 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #0064cd;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
  background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
  background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
  background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
  background-image: -o-linear-gradient(top, #049cdb, #0064cd);
  background-image: linear-gradient(top, #049cdb, #0064cd);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #004b9a;
  border-bottom-color: #003f81;
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  transition: 0.1s linear all;
  border-color: #0064cd #0064cd #003f81;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

button:hover {
  color: #fff;
  background-position: 0 -15px;
  text-decoration: none;
}

button:active {
  -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
